<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Edit Homepage Information</h4>
    <form id="homepageForm" method="post" action="/admin/homepage" enctype="multipart/form-data" >
      <div class="row">
        <div class="large-6 columns">
          <label>Homepage Card 1
            <input type="text" placeholder="(Header)" name="card1Header" value="{{ homepage.card1Header }}" />
            <textarea form="homepageForm" value="{{ homepage.card1Text }}" name="card1Text">{{ homepage.card1Text }}</textarea>
            <input type="file" placeholder="(Course Image)" name="fileupload" />
            {{#if homepage.card1Image }}
              <img class="logo-tiny" src="/uploads/{{ homepage.card1Image }}" alt="Logo" />
            {{/if}}
          </label>
        </div>
        <div class="large-6 columns">
          <label>Homepage Card 2
            <input type="text" placeholder="(Header)" name="card2Header" value="{{ homepage.card2Header }}" />
            <textarea form="homepageForm" value="{{ homepage.card2Text }}" name="card2Text">{{ homepage.card2Text }}</textarea>
            <input type="file" placeholder="(Course Image)" name="fileupload" />
            {{#if homepage.card2Image }}
              <img class="logo-tiny" src="/uploads/{{ homepage.card2Image }}" alt="Logo" />
            {{/if}}
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Homepage Text
            <textarea class="jquery-te" form="homepageForm" value="{{ homepage.mainText }}" name="mainText">{{ homepage.mainText }}</textarea>
          </label>
        </div>
        <div class="large-12 columns">
          <label>Homepage Video
            <input type="text" placeholder="(Vieo)" name="homepageVideo" value="{{ homepage.homepageVideo }}" />
          </label>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="large-12 columns">
          <label>Series Text
            <textarea class="jquery-te" form="homepageForm" value="{{ homepage.seriesText }}" name="seriesText">{{ homepage.seriesText }}</textarea>
          </label>
        </div>
      </div>
      <input type="submit" value="Save" class="button"/>
      <a href="/admin" class="button">Reset Changes</a>
    </form>
  </div>
</div>
