<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Create/Edit Race</h4>
    <form id="raceForm" method="post" action="/admin/race" enctype="multipart/form-data" >
      <input type="hidden" name="id" value="{{ race.id }}"/>
      <div class="row">
        <div class="large-12 columns">
          <label>Race Name
            <input type="text" placeholder="(Name)" name="name" value="{{ race.name }}" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
          <label>Date
            <input id="datepicker" type="text" placeholder="(Date)" name="date" value="{{ race.date }}" class="date-slash" />
          </label>
        </div>
        <div class="large-3 columns">
          <label>Series Number
            <input type="text" placeholder="(Series#)" name="seriesNum" value="{{ race.seriesNum }}" />
          </label>
        </div>
        <div class="large-3 columns">
          <label>Registration Time
            <input type="text" placeholder="(Time)" name="registrationTime" value="{{ race.registrationTime }}" />
          </label>
        </div>
        <div class="large-3 columns">
          <label>Start Time
            <input type="text" placeholder="(Start Time)" name="startTime" value="{{ race.startTime }}" />
          </label>
        </div>
        <div class="large-2 columns">
          <label>Cost
            <input type="text" placeholder="(Cost)" name="cost" value="{{ race.cost }}" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Race Special
            <input type="text" placeholder="(Special)" name="special" value="{{ race.special }}" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Venue
            <input id="venueID" value="{{ race.venue._id }}" type="hidden" />
            <select class="venue-selector" name="venueID">
              {{#each venueList }}
              <option value="{{ id }}">{{ name }}</option>
              {{/each}}
            </select>
          </label>
        </div>
        <div class="large-8 columns">
          <label>Distances 
            <input type="text" placeholder="(Distance)" name="distances" value="{{ race.distances }}" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>This Race's Sponsor
            <input id="sponsorID" value="{{ race.sponsor._id }}" type="hidden" />
            <select class="sponsor-selector" name="sponsorID">
              {{#each sponsorList }}
              <option value="{{ id }}">{{ name }}</option>
              {{/each}}
            </select>
          </label>
        </div>
        <div class="large-8 columns">
          <hr/>
          <label>Course Description
            <textarea class="jquery-te" form="raceForm" value="{{ race.courseDescription }}" name="courseDescription">{{ race.courseDescription }}</textarea>
          </label>
        </div>
        <div class="large-4 columns">
          <hr />
          <label>Course Image
            <input type="file" placeholder="(Course Image)" name="fileupload" />
            {{#if race.courseUrl }}
              <img src="/uploads/{{ race.courseUrl }}" alt="Logo" />
            {{/if}}
          </label>
          <label>Race Results
            <input type="file" placeholder="(Results File)" name="fileupload" />
            {{#if race.resultsUrl }}
              <span>Results Uploaded!</span>
            {{/if}}
          </label>
            {{#if race.resultsUrl }}
              <span>Delete</span>
              <input type="checkbox" placeholder="" name="deleteResults" />
            {{/if}}
        </div>
      </div>
      <input type="submit" value="Submit" class="button"/>
      <a href="/admin/races" class="button">Cancel</a>
      <a data-open="deleteRaceModal" class="button alert small">Delete</a>
    </form>
  </div>
</div>

<div class="reveal" id="deleteRaceModal" data-reveal>
        <h5>Are you sure you want to delete this race?</h5>
        <button class="button">Cancel</button>
        <a href="/admin/deleteRace/{{ race.id }}" class="button alert">Delete</a>

        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
