<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Venues</h4>
    <a class="button" href="/admin/venue/0">New Venue</a>
    <table>
      <thead>
        <tr>
          <th>Venue</th>
          <th>Logo</th>
          <th>Link</th>
          <th>Directions Link</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        {{#each venues }}
          <tr>
            <td>{{ name }}</td>
            <td><img src="/uploads/{{ logoUrl }}" alt="Logo" class="admin-venue-logo" /></td>
            <td><a href="{{ url }}" target="_blank">{{ url }}</a></td>
            <td><a href="{{ directionsUrl }}" target="_blank">Directions</a></td>
            <td><a href="/admin/venue/{{ id }}">Edit</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

