<div class="row show-for-medium">
  <div class="large-11 large-centered columns">
    <div class="owl-carousel hero-flipper"> 
      <div class="next-race-card item">
        <div classs="row">
          <div class="large-12 columns">
            <h3>Next Race: <span class="date">{{ nextRace.date }}</span></h3>
          </div>
          <div class="small-6 large-4 columns race-info">
            <div class="row">
              <div class="small-12 columns">
                <span>Location: <a style="display:inline;" href="{{ nextRace.venue.directionsUrl }}">{{ nextRace.venue.name }}</a></span>
              </div>
              <div class="small-12 columns">
                <span>Registration: {{ nextRace.registrationTime }}</span>
              </div>
              <div class="small-12 columns">
                <span>Race Start: {{ nextRace.startTime }}</span>
              </div>
              <div class="small-12 columns">
                <span>Cost: {{ nextRace.cost }}</span>
              </div>
              <div class="small-12 columns">
                <span>Distance: {{ nextRace.distances }}</span>
              </div>
              <div class="small-12 columns">
                <a href="/race/{{ nextRace.id }}">More Info</a>
              </div>
            </div>
          </div>
          <div class="small-6 large-4 columns">
            <a href="{{ nextRace.venue.url }}" target="_blank">
              <img class="venue-image" src="/uploads/{{ nextRace.venue.logoUrl }}" alt="Venue" />
            </a>
            <h4 class="race-special">{{ nextRace.special }}</h4>
          </div>
          <div class="large-4 columns sponsor show-for-large">
            <h4>Sponsor</h4>
            <a href="{{ raceSponsor.url }}" target="_blank">
              <img class="sponsor-image" src="/uploads/{{ raceSponsor.logoUrl }}" alt="Sponsor" />
            </a>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card row">
          <img class="card-background" src="/img/wasatchLake.jpg" alt="Running!" />
          <div class="large-8 columns">
            <h1>{{ homepage.card1Header }}</h1>
            <h3>{{ homepage.card1Text }}</h3>
          </div>
          <div class="large-4 columns">
            <img class="card-image" src="/uploads/{{ homepage.card1Image }}" alt="Trails" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-background" src="/img/wasatchValley.jpg" alt="Running!" />
          <div class="large-8 columns">
            <h1>{{ homepage.card2Header }}</h1>
            <h3>{{ homepage.card2Text }}</h3>
          </div>
          <div class="large-4 columns">
            <img class="card-image" src="/uploads/{{ homepage.card2Image }}" alt="Trails" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row show-for-small-only">
  <div class="large-11 large-centered columns">
    <div class="owl-carousel hero-flipper-mobile"> 
      <div class="next-race-card hero-flipper-item-mobile">
        <div class="large-12 columns">
          <h5>Next Race:<span class="date" style="display:inline;">{{ nextRace.date }}</span></h5>
        </div>
        <div class="small-6 columns">
          <span>Location: <a style="display:inline;" href="{{ nextRace.venue.directionsUrl }}">{{ nextRace.venue.name }}</a></span>
          <span>Registration: {{ nextRace.registrationTime }}</span>
          <span>Race Start: {{ nextRace.startTime }}</span>
        </div>
        <div class="small-6 columns">
          <a href="{{ nextRace.venue.url }}" target="_blank">
            <img class="venue-image-mobile" src="/uploads/{{ nextRace.venue.logoUrl }}" alt="Venue" />
          </a>
          <a href="/race/{{ nextRace.id }}">More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns home-main">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-5 small-8 columns">
          <div class="readmore-mobile">
          {{{ homepage.mainText }}}
          </div>
          <a class="readmore-opener show-for-small-only">More</a>
        </div>
        <div class="large-3 small-4 columns">
          <img src="/img/logoWhite.png" alt="logo" />
        </div>
        <div class="large-4 show-for-large columns">
          <div class="flex-video">
            {{{ homepage.homepageVideo }}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="large-12 columns">
  <div class="row home-races">
    <div class="large-9 columns">
      <a name="Races"></a>
      <h2>Races</h2>
      <hr/>
      <table class="races-table" href="#Races">
        <thead>
          <tr>
            <th class="show-for-large">Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th></th>
          </th>
        </thead>
        <tbody>
          {{#each races }}
          {{#if nextRace}}
          <tr class="next-race">
            {{else}}
            <tr>
              {{/if}}
              <td class="show-for-large">{{ name }}</td>
              <td class="date-slash">{{ date }}</td>
              <td>{{ startTime }}</td>
              <td>{{ venue.name }}</td>
              <td>
                <a href="/race/{{ id }}">Info</a>
                {{#if results }}
                &nbsp;
                <a href="/race/{{ id }}">Results</a>
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="large-3 columns right-sponsors">
        <h2>Sponsors</h2>
        <hr/>
        {{#each sponsors}}
        <a href="{{ url }}" target="_blank" class="side-sponsor">
          <img class="sponsor-thumbnail" src="/uploads/{{ logoUrl }}"/>
        </a>
        {{/each}}
      </div>
    </div>
    </div>
  </div>

</div>
