{{#if race }}
<div class="row race-main">
  <div classs="row">

    <div class="large-6 medium-8 columns race-info">
      <h3 class="date">{{ race.date }}</h3>
      <span>Location: <a style="display:inline;" href="{{ race.venue.directionsUrl }}">{{ race.venue.name }}</a></span>
      <span>Registration: {{ race.registrationTime }}</span>
      <span>Race Start: {{ race.startTime }}</span>
      <span>Cost: {{ race.cost }}</span>
      <span>Distance: {{ race.distances }}</span>
    </div>
    <div class="large-6 medium-4 columns">
      <a href="{{ race.venue.url }}" target="_blank">
        <img class="venue-image" src="/uploads/{{ race.venue.logoUrl }}" alt="Venue" />
      </a>
      <h4 class="race-special">{{ race.special }}</h4>
    </div>
  </div>
  <hr/>
</div>
<div class="row race-main">
  <div class="large-6 columns">
    <h4>Course:</h4>
    <p>
      {{ race.courseDescription }}
    </p>
  </div>
  <div class="large-6 columns">
    <img class="course-image" src="/uploads/{{ race.courseUrl }}" alt="Course" />
  </div>
</div>
</div>
{{/if}}



