{{#if race }}
<div class="row race-main">
  <div classs="row">

    <div class="small-12 large-4 columns race-info">
      <div class="row">
        <div class="small-12 columns">
          <h3 class="date">{{ race.date }}</h3>
        </div>
        <div class="small-12 columns">
          <span>Location: <a style="display:inline;" href="{{ race.venue.directionsUrl }}">{{ race.venue.name }}</a></span>
        </div>
        <div class="small-12 columns">
          <span>Registration: {{ race.registrationTime }}</span>
        </div>
        <div class="small-12 columns">
          <span>Race Start: {{ race.startTime }}</span>
        </div>
        <div class="small-12 columns">
          <span>Cost: {{ race.cost }}</span>
        </div>
        <div class="small-12 columns">
          <span>Distance: {{ race.distances }}</span>
        </div>
      </div>
    </div>
    <div class="small-12 large-4 columns">
      <a href="{{ race.venue.url }}" target="_blank">
        <img class="venue-image" src="/uploads/{{ race.venue.logoUrl }}" alt="Venue" />
      </a>
      <h4 class="race-special">{{ race.name }}</h4>
    </div>
    <div class="large-4 columns sponsor show-for-large">
      <h4>Sponsor</h4>
      {{#if race.sponsor }}
        <a href="{{ race.sponsor.url }}" target="_blank">
          <img class="sponsor-image" src="/uploads/{{ race.sponsor.logoUrl }}" alt="Sponsor" />
        </a>
        <h4>{{ race.sponsor.name }}</h4>
      {{else}}
        <a href="{{ raceSponsor.url }}" target="_blank">
          <img class="sponsor-image" src="/uploads/{{ raceSponsor.logoUrl }}" alt="Sponsor" />
        </a>
        <h4>{{ raceSponsor.name }}</h4>
      {{/if}}
    </div>
  </div>
  <hr/>
</div>
<div class="row race-main">
{{#if race.resultsUrl }}
  <div class="small-12 columns">
  <h2 style="text-align:center;">Results:
    <a href="/uploads/{{ race.resultsUrl }}" target="_blank">Click Here</a>
  </h2>
  </br>
</div>
{{/if}}
  <div class="small-5 large-offset-1 columns">
    <h4>Course:</h4>
    <p>
      {{{ race.courseDescription }}}
    </p>
  </div>
  <div class="small-5 columns">
    {{#if race.courseUrl }}
      <img class="course-image" src="/uploads/{{ race.courseUrl }}" alt="Course" />
    {{/if}}
  </div>
</div>
</div>
{{/if}}



