<div class="row sponsor-main">
  <div class="large-12 columns">
    <h4>All Races</h4>

    <table class="races-table" href="#Races">
      <thead>
        <tr>
          <th class="show-for-large">Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        {{#each races }}
        {{#if nextRace}}
          <tr class="next-race">
        {{else}}
          <tr>
        {{/if}}
            <td class="show-for-large">{{ name }}</td>
            <td class="date-slash">{{ date }}</td>
            <td>{{ startTime }}</td>
            <td>{{ venue.name }}</td>
            <td>
              <a href="/race/{{ id }}">Info</a>
              {{#if results }}
              &nbsp;
                <a href="/race/{{ id }}">Results</a>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <span>Looking for last years races or results? <a href="#">2015 Results</a></span>
  </div>
</div>

